APP_NAME=Prueba Tecnica Backend
APP_VERSION=0.1.0
APP_ENV=local
API_V1_PREFIX=/api/v1
LOG_LEVEL=INFO
DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/solicitudes
DB_ECHO=false
CONSUMER_BASE_URL=http://consumer:8001
BACKEND_BASE_URL=http://backend:8000
REQUEST_TIMEOUT_SECONDS=5
MAX_RETRY_ATTEMPTS=3
BACKEND_LOG_FILE_PATH=/logs/backend.jsonl
CONSUMER_LOG_FILE_PATH=/logs/consumer.jsonl
POSTGRES_DB=solicitudes
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
